<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Search Car</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" 
    placeholder="Enter search expression">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
    {{filterText}} aradınız.
</div>

<table *ngIf="dataLoaded!=false" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Brand Id</th>
            <th>Car Name</th>
            <th>Model Year</th>
            <th>Daily Price</th>
            <th>Daily Price with Tax</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars | filterPipe:filterText">
            <td>{{ car.carId }}</td>
            <td>{{ car.brandId }}</td>
            <td>{{ car.carName | uppercase }}</td>
            <td>{{ car.modelYear }}</td>
            <td>{{ car.dailyPrice | currency }}</td>
            <td>{{ car.dailyPrice | vatAdded:18 | currency }}</td>
            <td><button (click)="addToChart(car)" class="btn btn-success">Add to chart</button></td>
        </tr>
    </tbody>
</table>
